.logoText {
  font-family: 'Goldman';
  font-size: 18px;
  display: inline-block;
}
.searchField {
  width: 70% !important;
  display: inline-block !important;
}
.searchBox {
  width: 80% !important;
  margin-right: 20px !important;
}

.segment {
  background-color: #2c2b2b !important;
  margin: 0 !important;
}

.videoDetail {
  width: 65%;
  height: 100%;
  display: inline-block;
}

.videoList {
  width: 35%;
  display: inline-block;
  height: 100%;
  position: absolute;
  background-color: rgba(223, 230, 233, 0.3);
  border-radius: 2%;
  padding: 0.5%;
}

.videoItem {
  display: grid;
}

.videoItem .title {
  margin-bottom: 3px;
  font-family: 'Goldman';
  font-size: 18px;
}

#root {
  height: 100%;
}
